<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="quiz.simpulanbahasa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        >

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3644088453072578~1347065445"/>

        <activity android:name="quiz.simpulanbahasa.HomeScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="quiz.simpulanbahasa.PlayAgain"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="quiz.simpulanbahasa.GameWon"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="quiz.simpulanbahasa.Time_Up"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="quiz.simpulanbahasa.MainGameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="quiz.simpulanbahasa.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>